{{#partial "content"}}{{/partial}}
<section class="dash">
<h1>Back <a href="/" class="redirect">Home</a></h1>
  <section class="stats">

      <div class="left-sec">
        <h3>Tracked Animals</h3>
        {{#each  allSightings}}
            <div>
              <p>Animal Spotted: {{animal_name}}</p>
              <p>Location: {{animal_location}}</p>
              <p>By: Ranger {{ranger_name}}</p>
            </div>
        {{/each}}
       </div>

  </section>
  <section class="recorded">
    <h1 class="text-center"><span class="text-center"> Animals Sighted so Far</span></h1>

    <div class="recorded">
        <h1><span>Normal</span>span></h1>
       {{#each   allAnimals}}
           <div>
               <p>Name: {{animal_name}}</p>
               <p>Id: 0{{id}}</p>
           </div>
       {{/each}}
    </div>
    <div>
      <h1><span>Endangered</span></h1>
        {{#each   allEndangered}}
           <div>
               <p>Name: {{animal_name}}</p>
               <p>Health: {{animal_health}}</p>
               <p>Age: {{animal_age}}</p>
               <p>Id: 0{{id}}</p>
           </div>
       {{/each}}
    </div>
  </section>


{{> layouts.hbs}}