{{#partial "styles"}}
    <link rel='stylesheet' href='/css/view.css'>
{{/partial}}

{{#partial "content"}}
    <h1>Recorded Sightings</h1>
    <br>
    <br>
    <table class="table table-dark">
        <thead class="head-dark">
        <tr>
            <th scope="col">Ranger's Name</th>
            <th scope="col">Location</th>
            <th scope="col">Animal Name</th>
            <th scope="col">Animal Age</th>
            <th scope="col">Animal Health</th>
            <th scope="col">Animal Species</th>
            <th scope="col">Time of sighting</th>
        </tr>
        </thead>
        <tbody>
        {{#each sightings}}
            <tr>
            <td>{{name}}</td>

            <td>{{location}}</td>

            <td>{{animal.name}}</td>

            <td>{{animal.age}}</td>

            <td>{{animal.health}}</td>

            <td>{{animal.type}}</td>

                <td>{{timestamp}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}
{{>layout.hbs}}